 .arrow-button {
    border: none;
    fill: #babfc4;
    background: none;
 }

 .vote-count{
    color: #6f737c;
    margin-left: 18px;
    font-size: 25px;
 }
 .tab {
    display: inline-block;
    margin-left: 4em;
 }

  .d-flex {
    display: flex;
  }
  
  .mb8 {
    margin-bottom: 8px;
  }
  
  .fl1 {
    flex-grow: 1;
  }
  
  .pb8 {
    padding-bottom: 8px;
  }
  
  .mb16 {
    margin-bottom: 16px;
  }
  
  .bb {
    border-bottom: 1px solid #ddd;
  }
  
  .bc-black-075 {
    border-color: #ddd;
  }
  
  .ws-nowrap {
    white-space: nowrap;
  }
  
  .mr16 {
    margin-right: 16px;
  }
  
  .mb8 {
    margin-bottom: 8px;
  }
  
  .fc-light {
    color: #999;
  }
  
  .fc-black-500 {
    color: #333;
  }
  
  .fc-black-200 {
    color: #888;
  }
  
  .fs-headline1 {
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
  }
  
  .ow-break-word {
    word-wrap: break-word;
  }
  
  time {
    font-style: italic;
  }
  
  .question {
    border: 1px solid #ddd;
    margin-bottom: 24px;
    padding: 24px;
  }
  
  .post-layout {
    display: flex;
    flex-wrap: wrap;
  }
  
  .votecell {
    flex: 0 0 70px;
  }
  